/*
Main styles
*/

@import 'text';
@import 'ids';
@import 'classes';
@import 'grid';
@import 'media';
$background-color: whitesmoke;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: $light;
  background-color: $background-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

header {
  background: white;
  padding-bottom: 30px;
  padding-top: 10px;
}

footer {
  margin-top: 2vh;
  margin-bottom: 5vh;
}

footer img {
  max-width: 15vh;
}

span {
  color: #585656;
}