// _base.scss
// ==============

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height: 100%;
}

body  {
  -webkit-font-smoothing: antialiased;
  background: lighten($white, 10%);
  font-family: $subtitleFont;
  background: $white;
}

#{headings()} {
  font-family: $titleFont;
  text-transform: uppercase;
}

p{
  font-family: $insideparagraph;
  font-size: 30px;
}

.subtitle{
  font-family: $subtitleFont;
}

h1 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  color: $white;
  line-height: 16px;
  background: $black;
  display: inline-block;
  padding: 4px;
}

h2{
  font-size: 12px;
  display: inline-block;
  margin: 10px 10px 0px 10px;
  padding-top: 20px;
  border-bottom: 1px solid $black;
}

h3{
  font-size: 12px;
}

h4{
  font-size: 11px;
  display: inline-block;
  margin: 0px 5px;
  background: $white;
  padding: 4px 0;
}

h5{
  font-size: 18px;
  font-weight: bolder;
}

p{
  font-size: 12px;
}

#works{
  margin-top: 4%;
  margin-bottom: 4%;
}

#work{
  margin-top: 4%;
  // margin-bottom: 4%;
}

#about{
  margin-top: 10%;
}

#title{
  border-bottom: 3px solid $green;
  display: inline-block;
}

#subtitle{
  border-bottom: 1px solid $lightGrey;
  margin: 0 0 4% 0;
  font-size: 14px;
}

.work{
  @media (max-width: 768px) {
    margin-top: 5%;
  }
  @media (min-width: 768px) {
    margin-top: 3%;
  }
}

a{
  color: $black;
  padding: 4px 0;
  text-decoration: none;
}

a:hover{
  background:$green;
  text-decoration: none;
}

.content {
  min-height: calc(100vh - 100px);
  padding: 40px 40px 0 40px;
}

footer{
  background: $lightGrey;
  padding: 50px 0 50px;
  height: 50px;
}

li{
  display: block;
  font-size: 12px;
}

figcaption{
  margin: 0 0 5% 0;
}

.glitch:hover {
  @include textGlitch("works", 500, $white, $black, red, $green, 450, 100);
}

::selection {
  background: $green; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $green; /* Gecko Browsers */
}

.github:hover{
  padding: 13px 0 4px 0;
}

.username{
  vertical-align: super;
}

#links{
  border-bottom: 2px solid $lightGrey;
  margin-bottom: 15px;
  display: inline-block;
}

.press{
  display: inline-block;
  padding: 4px;
  background-color: $ligthBlue;
  margin: 10px 0px;
}
