// _variables.scss
// =================
@include font-face(Sectra, "../fonts/GT-Sectra-Fine-Book",  null, null, woff);
@include font-face(SectraItalic, "../fonts/GT-Sectra-Fine-Book-Italic",  null, null, woff);
@include font-face(Orator, "../fonts/oratorstd-webfont", null, null, woff);
@include font-face(Benton, "../fonts/bentonsans-light-webfont", null, null, woff);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

$white         : #FFFFFF;
$black         : #000000;
$green         : #5effbc;
$lightGrey     : #f3f3f3;
$ligthBlue     : #33fffd;

$titleFont  : 'Orator', sans-serif;
$subtitleFont : 'SectraItalic', sans-serif;
$insideparagraph : 'Benton', Helvetica, sans-serif;
$bodyFont : 'Orator', serif;
