--- 
layout: default 
---

<div class="container" id="works">
  <div class="row">
    {% for post in site.posts %}
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 work">
      <div class="row">
        <div class="col-xs-5 col-sm-5">
          <a href="{% if post.external_link %}{{post.link}}{% else %}{{site.baseurl}}{{post.url}}{% endif %}" title="Link to {{site.baseurl}}{{post.url}}"
            target="{% if post.external_link %}_blank{% else %}{{site.baseurl}}_self{% endif %}">
            <img class="img-responsive" src="{{site.baseurl}}{{ post.thumbnail }}" alt="{{post.title}}">
          </a>
        </div>
        <div class="col-xs-5 col-sm-4 col-md-4">
          <a href="{% if post.external_link %}{{post.link}}{% else %}{{site.baseurl}}{{post.url}}{% endif %}" title="Link to {{site.baseurl}}{{post.url}}"
            target="{% if post.external_link %}_blank{% else %}_self{% endif %}">
            <h3>{{post.title}}</h3>
          </a>
          <h4>{{post.category}}</h4>
          <p class="hide-when-small">{{ post.description | strip_html | truncatewords:80 }}</p>
          <a href="{% if post.external_link %}{{post.link}}{% else %}{{site.baseurl}}{{post.url}}{% endif %}" title="Link to {{site.baseurl}}{{post.url}}"
            target="{% if post.external_link %}_blank{% else %}_self{% endif %}">
            {% if post.external_link %}
              <h6>www↦</h6>
            {% else %}
              <h6>More+</h6>
            {% endif %}
          </a> 
          
          {% if post.code %}
          <a href="{{ post.code }}" target="_blank">
            <h6>code</h6>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>