<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-4 col-md-offset-1">
        <a href="/">
          <h1>Cristóbal Valenzuela B.</h1>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-md-offset-1">
        <h2>M.P.S Candidate at the Interactive Telecommunications Program
          (ITP), Tisch School of the Arts, NYU.</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-1">
        <a href="https://github.com/cvalenzuela" target="_blank">
          <h6>github</h6>
        </a>
        <a href="mailto:cvalenzuela@nyu.edu" target="_blank">
          <h6>email</h6>
        </a>
        <a href="https://twitter.com/c_valenzuelab" target="_blank">
          <h6>twitter</h6>
        </a>
        <a href="https://www.linkedin.com/in/cvalenzuelab/" target="_blank">
          <h6>linkedin</h6>
        </a>
      </div>
    </div>
  </div>
</header>