<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cristóbal Valenzuela</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="content">
    <div class="container">
      <header class="row" >
        <div class="col-xs-6" id="logo">
          <h1 class="glitch" data-text="Cristóbal Valenzuela">Cristóbal Valenzuela</h1>
        </div>
        <ul class="col-xs-6 text-center" id="menu">
          <li style="display:inline"><h2><a href="index.html">Works</a></h2></li>
          <li style="display:inline"><h2><a href="about.html">About</a></h2></li>
        </ul>
      </header>
    </div>

    <div class="container">
      <div class="row" id="about">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
          <p> I like to make stuff. <br/>
          Sometimes it involes technology. Sometimes not. <br />
          I'm more interested in the intersection of disciplines. Antidisciplinarity.
          </p>
          <p> Currently a M.P.S Candidate at the Interactive Telecommunications Program (ITP), Tisch School of the Arts, NYU. <br/>
          You can write me <a href="mailto:cvalenzuela@nyu.edu">here.</a><br />
          <a href="">Here's</a> my CV.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <footer class="row">
      <div id="social" class="col-xs-6 col-sm-4 col-md-3 pull-right">
        <h4><a href="" class="github">github</a></h4>
      </div>
    </footer>
  </div>




  <script src="js/script.js"></script>

</body>
</html>
