<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cristóbal Valenzuela</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body class="margin-when-big">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-4 col-md-offset-1">
                    <a href="">
                        <h1>Cristóbal Valenzuela B.</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-4 col-md-offset-1">
                    <h2>Creative Technology, Data Visualization, Interactivity. M.P.S Candidate at the Interactive Telecommunications
                        Program (ITP), Tisch School of the Arts, NYU.</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1">
                    <a href="https://github.com/cvalenzuela" target="_blank">
                        <h6>github</h6>
                    </a>
                    <a href="" target="_blank">
                        <h6>email</h6>
                    </a>
                    <a href="" target="_blank">
                        <h6>twitter</h6>
                    </a>
                    <a href="" target="_blank">
                        <h6>linkedin</h6>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container" id="works">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 work">
                <div class="row">
                    <div class="col-xs-5 col-sm-5">
                        <a href=""><img class="img-responsive" src="images/sequential.jpg" alt="" ></a>
                    </div>
                    <div class="col-xs-5 col-sm-4 col-md-5">
                        <a href="">
                            <h3>Sequential Stories</h3>
                        </a>
                        <h4>Machine Learning</h4>
                        <p class="hide-when-small">The Show and Tell model is a image-to-text model for Tensorflow, developed by Google DeepMind, that
                            takes an input and learns how to describe the content of images. This experimental iOS app uses
                            this feature to generate a series of captions and create a story.</p>
                        <a href="">
                            <h6>www↦</h6>
                        </a><br>
                        <a href="">
                            <h6>code</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 work">
                <div class="row">
                    <div class="col-xs-5 col-sm-5">
                        <a href=""><img class="img-responsive" src="images/degrees.jpg" alt="" ></a>
                    </div>
                    <div class="col-xs-5 col-sm-4 col-md-5">
                        <a href="">
                            <h3>Sequential Stories</h3>
                        </a>
                        <h4>Machine Learning</h4>
                        <p class="hide-when-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Errorlabore recusandae laudantium perferendis
                            in, modi suscipit eveniet autem sunt perspiciatis harum assumenda.</p>
                        <a href="">
                            <h6>www↦</h6>
                        </a><br>
                        <a href="">
                            <h6>code</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 work">
                <div class="row">
                    <div class="col-xs-5 col-sm-5">
                        <a href=""><img class="img-responsive" src="images/thumbnail.png" alt="" ></a>
                    </div>
                    <div class="col-xs-5 col-sm-4 col-md-5">
                        <a href="">
                            <h3>Sequential Stories</h3>
                        </a>
                        <h4>Machine Learning</h4>
                        <p class="hide-when-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Errorlabore recusandae laudantium perferendis
                            in, modi suscipit eveniet autem sunt perspiciatis harum assumenda.</p>
                        <a href="">
                            <h6>www↦</h6>
                        </a><br>
                        <a href="">
                            <h6>code↦</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-md-offset-1">
                    <img src="images/voyyvuelvo.png" alt="voy y vuelvo" class="img-responsive">
                    <!--<p id="parra">I go and come back</p>-->
                </div>
            </div>
        </div>

    </footer>

</body>

</html>