--- 
layout: default 
page-type: post 
---

<div class="container">
  <div id="back"><a href="/"><span>↤</span><h6> Back</h6></a></div>

  <div class="row project">
    <div class="col-xs-10 col-sm-7 col-md-6 col-md-offset-1">
      {{ content }}
    </div>

    <div class="col-xs-10 col-sm-4 col-md-4">
      <a href="">
        <h3>{{ page.title }}</h3>
      </a>
      <h4>{{ page.category }}</h4>
      <p>{{ page.description }}</p>
      {% if page.more-description %}
        <p>{{ page.more-description }}</p>
      {% endif %}

      {% if page.tools %}
      <h6>Built with:</h6>
      <ul>
        {% for tool in page.tools %} 
          <li>{{ tool }}</li> 
        {% endfor %}
      </ul>
      {% endif %} 

      {% if page.link %}
      <br>
        <a href="{{ page.link }}" target="_blank">
          <h6>www↦</h6>
        </a>
        <br>
      {% endif %}

      {% if page.press %}
      <br>
      <h6>Press:</h6>
        <ul>    
          {% for article in page.press %}
            {% for link in article %}
              <li><a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.code %}
        <a href="{{ page.code }}" target="_blank">
          <h6>code↦</h6>
        </a>
      {% endif %}

      {% if page.links %}
      <h6>Resources:</h6>
        <ul>    
          {% for resource in page.links %}
            {% for link in resource %}
              <li><a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>

  </div>
</div>